<%- include('layout/header') %>

    <div class="row">
        <div class="col-md-4">
            <a href="/client" class="text-decoration-none">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center">Client Manager</h4>
                        <p class="card-text text-center">Section pour gerer les clients</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/entreprise/" class="text-decoration-none">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center">Entreprise Manager</h4>
                        <p class="card-text text-center">Section pour gerer les entreprises</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

<%- include('layout/footer') %>