<%- include('../layout/header') %>

    <div class="row m-auto">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Add New Client
                </div>
                <div class="card-body">
                    <form action="/client/" method="post">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" name="name" id="name" class="form-control" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <label for="firstname">firstname</label>
                            <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Your fisrtname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact</label>
                            <input type="text" name="contact" id="contact" class="form-control" placeholder="Your contact">
                        </div>
                        <div class="form-group">
                            <label for="entrepriseId">Entreprise</label>
                            <select class="form-control" name="entrepriseId" id="entrepriseId">
                                <% if (entreprises) { %>
                                    <% for( let entreprise of entreprises) { %>
                                        <option value="<%= entreprise.id %>"><%= entreprise.name %> </option>
                                    <% } %> 
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="entrepriseId">Status</label>
                            <select class="form-control" name="status" id="status">
                                <option value="1">Actif</option>
                                <option value="0">Inactif</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<%- include('../layout/footer') %>
