<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud app</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <style>
        .container{
            margin-top: 4em;
            margin-bottom: 3em;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Accueil</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/client/">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entreprise/">Entreprise</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if (locals.flash && locals.flash.error){ %>
            <div class="alert alert-danger">
                <%= flash.error %>
            </div>
        <%}%>
        <% if (locals.flash && locals.flash.success){ %>
            <div class="alert alert-success">
                <%= flash.success %>
            </div>
        <%}%>
    